.moviesCardList {
  margin: 10px auto 0;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
}

.moviesCardList__container {
  margin: 70px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 31px 20px;
  list-style-type: none;
}

.moviesCardList__card {
  width: 270px;
}

.moviesCardList__more-button {
  margin: 61px auto 95px;
  width: 320px;
  height: 36px;
  background-color: #202020;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #424242;
  border-radius: 5px;
  cursor: pointer;
}

.moviesCardList__more-button:hover {
  color: #3DDC84;
}

.moviesCardList__more-button-hidden {
  height: 256px;
}

@media screen and (max-width: 1200px) {
  .moviesCardList {
    margin: 10px 30px 8px;
  }

  .moviesCardList__container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px 20px;
  }
  
  .moviesCardList__card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .moviesCardList__more-button-hidden {
    height: 168px;
  }

  .moviesCardList__more-button {
    margin: 60px auto 98px;
  }
}

@media screen and (max-width: 540px) {
  .moviesCardList {
    margin: 10px 10px 0;
  }

  .moviesCardList__container {
    margin: 40px 0 0;
    gap: 28px 20px;

  }

  .moviesCardList__more-button {
    margin: 60px auto 80px;
    width: 240px;
  }

  .moviesCardList__more-button-hidden {
    height: 150px;
  }
}
