.moviesCard {
display: flex;
flex-direction: column;
}

.moviesCard__img {
  width: 270px;
  height: 151px;
}

.moviesCard__interested {
  height: 49px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.moviesCard__title {
  margin: 4px 0 0;
  max-width: 226px;
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.moviesCard__like-button {
  background-image: url(../../images/like.svg);
  background-color: #313131;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.like_active {
  background-image: url(../../images/likeActive.svg);
}

.button_delete {
  background-image: url(../../images/buttonDelete.svg);
}

.moviesCard__time {
  margin: 6px 0 0;
  color: #8B8B8B;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}