.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error__container {
  margin: 0 0 184px;
}

.error__title {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error__subtitle {
  margin: 0;
  padding-top: 4px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error__back-button {
  margin: 0 auto;
  background-color: #202020;
  border: 0;
  width: fit-content;
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .error {
    justify-content: flex-start ;
  }

  .error__container {
    margin: 329px 0 283px;
  }

  .error__title {
    font-size: 80px;
  }

  .error__subtitle {
    padding-top: 10px;
    font-size: 12px;
  }
  
  .error__back-button {
    font-size: 12px;
  }
}