.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}

.main__section-title{
  margin: 0;
  padding-bottom: 23px;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 540px) {
  .main__section-title{
    padding-bottom: 27px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}