.header {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.header_blue {
  display: block;
  background-color: #073042;
}

.header__head {
  display: flex;
  margin: 0 0 0 70px;
  height: 74px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-image: url(../../images/HeaderLogo.svg);
  width: 100px;
  height: 38px;
  background-repeat: no-repeat;
  z-index: 21
}

.header__auth-container {
  margin: 0 70px 0 0;
  display: flex;
  align-items: center;
}

.header__menu-button {
  display: none;
  background-image: url(../../images/buttonMenu.svg);
  background-color: #202020;
  width: 44px;
  height: 44px;
  border: 0;
  cursor: pointer;
}

.header__profile {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-right: 70px;
}

.header-container-movies {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
  }

  .header__head {
    display: flex;
    margin: 0 30px 0;
    height: 74px;
    justify-content: space-between;
    align-items: center;
  }

  .header__menu-button {
    display: block;
  }

  .header__auth-container {
    margin: 0 ;
  }

  .header__profile {
    margin: 0;
  }

  .header-container-movies {
    display: none
  }

  .header__profile {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .header__head {
    display: flex;
    margin: 0 14px 0;
    height: 74px;
    justify-content: space-between;
    align-items: center;
  }
}