.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.header_blue {
  display: block;
  background-color: #073042;
}

.header__head {
  display: flex;
  margin: 0 0 0 70px;
  height: 74px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-image: url(../../images/HeaderLogo.svg);
  width: 100px;
  height: 38px;
  background-repeat: no-repeat;
}

.header__menu-button {
  display: none;
  background-image: url(../../images/buttonMenu.svg);
  background-color: #202020;
  width: 44px;
  height: 44px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
  }

  .header__head {
    display: flex;
    margin: 0 30px 0;
    height: 74px;
    justify-content: space-between;
    align-items: center;
  }

  .header__menu-button {
    display: block;
  }
}