.techs {
  max-width: 1280px;
  background-color: #272727;
}

.techs__main {
  padding: 101px 70px 100px;
}

.techs__title {
  margin: 0;
  padding-top: 90px;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__subtitle {
  margin: 0 auto;
  max-width: 460px;
  padding-top: 26px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__list {
  margin: 100px auto 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.techs__list-item {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px; 
  border-radius: 10px;
  background: #303030;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.56px;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .techs__main {
    padding: 92px 50px 90px;
  }

  .techs__title {
    padding-top: 80px;
  }

  .techs__subtitle {
    margin: 0 auto;
    max-width: 460px;
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__list {
    margin: 83px auto 0;
    gap: 10px;
  }

  .techs__list-item {
    width: 84px;
    height: 57px; 
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 540px) {
  .techs__main {
    padding: 70px 18px 70px;
  }

  .techs__title {
    padding-top: 60px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__subtitle {
    margin: 0 auto;
    padding-top: 24px;
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.42px;
  }

  .techs__list {
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 84px);
    gap: 10px;
  }

}