@import url('./vendor/normalize.css');

@import url("./vendor/fonts/inter/inter.css");

.body {
  background: #202020;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.root {
  /* margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: fit-content; */
}